body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header__title {
  border-bottom: 2px solid gray;
  display: flex;
  font-size: 21px;
  justify-content: center;
  margin-bottom: 5px;
}

#table-trello {
  display: flex;
  border-collapse: collapse;
  border: 3px solid grey;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  width: fit-content;
  table-layout: fixed;
}

#table-trello td,
#table-trello th {
  width: 250px;
  word-wrap: break-word;
  overflow: hidden;
}

#table-trello th {
  background-color: lightblue;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}

.card-style {
  border: 3px solid grey;
  margin: 10px 0;
}

form {
  margin: 10px 0;
}

button {
  margin: 0 2px;
}

.button__erase {
  margin-right: 10px;
  float: right;
}
